.changetheme button{
    color: #000;
}
.changetheme1{
    display: none;
}
.changetheme1 button{
    color: #fff;
}

.navbar{
    background-color: #F8F9FA !important;
}
/* .navbar-nav>li.nav-item>.dropdown-menu>a:hover{
    background-color: mediumslateblue;
} */